* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(2, 25, 20);
}

.main{
    width: 70%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
}

.div1 {
  width: 60%;
  background: bisque;
  float: left;
}

.div2 {
  width: 40%;
  background: rgb(249, 209, 160);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap:wrap; 
}

.div2 img{
    width: 48%;
    height: 53%;
    border-radius: 10%;
    border: 4px solid rgb(252, 173, 76);
}

.div3{
    position: relative;
    padding: 20px;
}

.div3 a{
    text-decoration: none;
    color: black;
}

.div3 a:hover{
    color: blue;
    text-decoration: dotted;
}

.div1 p{
    margin: 20px;
    margin-top: 20px;
    padding: 4px;
    text-align: left;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .main{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .div1{
    width: 100%;
    background: bisque;
  }

  .div1 > p{
    padding: 3px;
    font-size: 20px;
  }

  .div2 {
  width: 100%;
  background: rgb(255, 199, 130);
  }

  .div2 img{
    width: 48%;
    height: 59%;
    border-radius: 10%;
    border: 4px solid rgb(252, 173, 76);
  }

  .div3 h2{
    padding-bottom: 10px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}