*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    max-height: 100%;
    background: rgb(2, 25, 20);
}

.div2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 100px;
}

.card{
    margin: 20px;
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 1px rgb(173, 173, 173);
    background: bisque;
    border-radius: 5%;
}

.imgstyle{
    width: 100%;
    height: 150px;
    border-radius: 5%;
}

.link{
    position: relative;
    top: 8px;
    text-align: center;
}

.link a{
    color: black;
    text-decoration: none;
}

.link a:hover{
    color: blue;
}

.card:hover{
    scale: 1.1;
}