* {
  margin: 0;
  padding: 0;
}

body{
    max-width: 100%;
    max-height: 100%;
    background: rgb(2, 25, 20);
}

.main{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.main > div{
    padding: 20px;
}

.div1{
    width: 300px;
    background: bisque;
    display: flex;
    justify-content: center;
}

.div4 > h2{
    padding: 14px;
}

.div4 > p{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    left: 30px;
}

.div2{
    width: 300px;
    background: rgb(255, 216, 169);
    display: flex;
    justify-content: center;
}

.div5 > h2{
    padding: 14px;
    position: relative;
    left: 20px;
}

.div5 > p{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    left: 30px;
}

.div3{
    width: 300px;
    height: 399px;
    background: rgb(255, 197, 127);
    display: flex;
    justify-content: center;
}

.div6 > h2{
    padding: 14px;
    position: relative;
    left: 80px;
}

.div6 > p{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    left: 5px;
    text-align: justify;
}