* {
  margin: 0;
  padding: 0;
}

body {
    max-width: 100%;
    max-height: 100%;
    background: rgb(2, 25, 20);
}
.main{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.main > div{
    padding: 20px;
}

.div1{
    width: 300px;
    height: 299px;
    background: rgb(255, 197, 127);
    display: flex;
    justify-content: center;
}

.div1 img{
    width: 100%;
}

.div2{
    width: 300px;
    height: 299px;
    background: rgb(255, 197, 127);
    display: flex;
    justify-content: center;
}

.div3 > p{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    left: 5px;
    text-align: justify;
}